<mat-card>
  <h2> {{category.name}} </h2>
  <p> {{category.description}} </p>

  <section *ngIf="category.books.length > 0">
    <h6>Books list</h6>
    <ul> 
      <li *ngFor="let book of category.books"> {{book.title}} </li>
    </ul>
  </section>
  <section *ngIf="category.books.length == 0">
    <h6>No books added yet</h6>
  </section>
</mat-card>

