<mat-card>
  <h2>Categories list</h2>
  <section>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td> {{category.name}} </td>
          <td> {{category.description}} </td>
          <td>         
            <a mat-button [routerLink]="['/categories/show', category.id]" routerLinkActive mat-button color="accent">
              <mat-icon aria-hidden="false" >show</mat-icon>
              Show
            </a> 
            <a mat-button [routerLink]="['/categories/edit', category.id]" routerLinkActive mat-button>
              <mat-icon aria-hidden="false" >edit</mat-icon>
              Edit
            </a> 
            <a mat-button (click)="onDeleteCategory(category.id)" color="error" mat-button>
              <mat-icon aria-hidden="false" >delete</mat-icon>
            </a> 
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <mat-paginator 
    [length]="totalCategories" 
    [pageSize]="categoriesPerPAge" 
    [pageSizeOptions]="[5, 10, 25, 100]" 
    (page)="setPageSizeOptions($event)"
    ></mat-paginator>

</mat-card>