<mat-card>
  <form 
  (submit)="onUpdateCategory(postForm)"
  #postForm="ngForm"
  >
    <h2>Edit category</h2>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Category Name</mat-label>
          <input 
            matInput 
            type="text"
            name="name"
            placeholder="Category name"
            required
            [ngModel]="category.name"
            #name="ngModel"
            >
            <mat-error *ngIf="name.invalid"> Category name is required </mat-error>
      </mat-form-field>
    </section>
    <mat-divider></mat-divider>
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Category description</mat-label>
        <textarea 
          matInput 
          rows="5"
          name="description"
          placeholder="Category description"
          required
          [ngModel]="category.description"
          #description="ngModel"
          ></textarea>
          <mat-error *ngIf="description.invalid"> Category description is required </mat-error>
      </mat-form-field>
    </section>
    <button 
      mat-raised-button 
      color="accent"
      type="submit"
      ><mat-icon aria-hidden="false" >save</mat-icon> Save Category</button>
  </form>
  <section>
    <button 
      mat-raised-button 
      color="error"
      (click)="onDeleteCategory()"
      ><mat-icon aria-hidden="false" >delete</mat-icon> Delete Category</button>
  </section>
</mat-card>

