<mat-toolbar>
  <nav>
    <div> <a routerLink="">Home</a> </div>
    <ul>
      <li>
        <a mat-button routerLink="/" routerLinkActive>
          <mat-icon aria-hidden="false" >list</mat-icon>
          Books
        </a>
      </li>
      <li>
        <a mat-button routerLink="/books/create" routerLinkActive>
          <mat-icon aria-hidden="false" >add</mat-icon>
          Create Book
        </a>
      </li>
      <li>
        <a mat-button routerLink="/categories" routerLinkActive>
          <mat-icon aria-hidden="false" >list</mat-icon>
          Categories
        </a>
      </li>
      <li>
        <a mat-button routerLink="/categories/create" routerLinkActive>
          <mat-icon aria-hidden="false" >add</mat-icon>
          Create Category
        </a>
      </li>
    </ul>
  </nav>
</mat-toolbar>