
nav{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

div{
  margin-top: 20px;
  margin-bottom: 20px;
}

ul{
  list-style-type: none;
  display: flex;
}

a {
  display: inline-block;
  margin: 0.25rem 1rem;
}
