<mat-card>
 <div class="row direction-column md-direction-row space-between">
    <div class="column image-preview-big" *ngIf="book.imageFile">
      <img src="{{book.imageFile}}" alt="{{ book.title }}" >
    </div>
    <div class="column info">
      <p><strong>Title</strong></p>
      <h2> {{book.title}} </h2>
      <p><strong>Author</strong></p>
      <h3> {{book.author}} </h3>
      <p><strong>Price</strong></p>
      <p> {{book.price}} </p>
      <p><strong>Description</strong></p>
      <p> {{book.description}} </p>
    </div>
    <div class="column categories">
      <section *ngIf="book.categories.length > 0">
        <h6>Categories list</h6>
        <ul> 
          <li *ngFor="let category of book.categories"> {{category.name}} </li>
        </ul>
      </section>
      <section *ngIf="book.title && book.categories.length == 0">
        <h6>No categories added to this book</h6>
      </section>
    </div>
  </div>
</mat-card>

