<mat-card>
  <h2>Books list</h2>
  <p>Page: {{currentPage}}</p>
  <section>
    <table>
      <thead>
        <tr>
          <th>Cover</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td> <span class="thumb"><img src="{{book.imageFile}}" alt="{{book.title}}"></span> </td>
          <td> {{book.title}} </td>
          <td> {{book.description}} </td>
          <td>         
            <a mat-button [routerLink]="['/books/show', book.id]" routerLinkActive mat-button color="accent">
              <mat-icon aria-hidden="false" >menu_book</mat-icon>
              Show
            </a> 
            <a mat-button [routerLink]="['/books/edit', book.id]" routerLinkActive mat-button>
              <mat-icon aria-hidden="false" >edit</mat-icon>
              Edit
            </a> 
            <a mat-button (click)="onDeleteBook(book.id)" color="error" mat-button>
              <mat-icon aria-hidden="false" >delete</mat-icon>
            </a> 
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <mat-paginator 
    [length]="totalBooks" 
    [pageSize]="booksPerPage" 
    [pageSizeOptions]="[5, 10, 25, 100]" 
    [pageIndex]="currentPage"
    (page)="setPageSizeOptions($event)"
    ></mat-paginator>

</mat-card>