<mat-card>
  <form 
  [formGroup]="form"
  (submit)="onAddBook()"
  >
    <h2>Create new book</h2>
    <div class="row direction-column md-direction-row space-between">
      <div>
        <section>
          <div class="column">
            <button type="button" (click)="coverImage.click()">Choose book cover</button>
            <input type="file" id="coverImageInput" #coverImage (change)="onImagePicked($event)" >
            <div class="image-preview" *ngIf="bookCover && bookCover !== '' && form.get('image').valid">
              <img [src]="bookCover" [alt]="form.value.title">
            </div>
          </div>
        </section>
      </div>
      <div class="column">
        <section>
          <mat-form-field appearance="fill">
            <mat-label>Book Title</mat-label>
              <input 
                matInput 
                type="text"
                placeholder="Book Title"
                formControlName="title"
                >
                <mat-error *ngIf="form.get('title').invalid"> Book title is required </mat-error>
          </mat-form-field>
        </section>
        
        <section>
          <mat-form-field appearance="fill">
            <mat-label>Book Author</mat-label>
              <input 
                matInput 
                type="text"
                placeholder="Book author"
                formControlName="author"
                >
                <mat-error *ngIf="form.get('author').invalid"> Book author is required </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
              <input 
                matInput 
                type="number"
                placeholder="Book price"
                formControlName="price"
                >
                <mat-error *ngIf="form.get('price').invalid"> Book price is required </mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field appearance="fill">
            <mat-label>Book description</mat-label>
            <textarea 
              matInput 
              rows="5"
              placeholder="Book description"
              formControlName="description"
              ></textarea>
              <mat-error *ngIf="form.get('description').invalid"> Book description is required </mat-error>
          </mat-form-field>
        </section>
      </div>
      <div class="column">
        <section>
          <mat-form-field appearance="fill">
            <mat-label>Book categories</mat-label>
              <mat-select multiple 
              formControlName="categories"
              >
                  <mat-option 
                    *ngFor="let category of categories" 
                    [value]="category.id"
                    >{{category.name}}
                  </mat-option>
              </mat-select>
            
          </mat-form-field>
        </section>
      </div>
    </div>
    <button 
      mat-raised-button 
      color="accent"
      type="submit"
      ><mat-icon aria-hidden="false" >add</mat-icon> Add Book</button>
  </form>
</mat-card>

