.row {
  display: flex;
}

.row.direction-column {
  flex-direction: column;
}

@media (min-width: 992px){
  .row.md-direction-row {
    flex-direction: row;
  }

}

.row.space-between{
  justify-content: space-between;
}


label{
  display: block;
}

input{
  display: inline-block;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#main-card{
  width: 80%;
  margin: 0 auto;
}

mat-card section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mat-card .mat-divider-horizontal{
  position: relative !important;
}

main{
  margin-top: 1rem;
}

.mat-paginator-container{
  justify-content: flex-start !important;
}

#coverImageInput{
  visibility: hidden;
}

.image-preview{
  height: 5rem;
  max-width: 100%;
  margin-top: 1rem;
}

.image-preview img{
  max-height: 100%;
  object-fit: scale-down;
}

.image-preview-big{
  object-fit: scale-down;
  max-width: 100%;
  margin-top: 1rem;
}

.image-preview-big img{
  max-height: 100%;
  object-fit: scale-down;
}

.thumb{
  display: inline-block;
  margin-left: 1rem;
}

.thumb img{
  max-height: 5rem;
  max-width: 15rem;
  object-fit: scale-down;
}